langgraph
langchain
langchain-openai
fastapi
uvicorn
python-dotenv
pydantic
streamlit
pandas
openpyxl
python-pptx
matplotlib
sqlalchemy
langchain-groq
alembic
langchain-core
python-pptx
pandas
openpyxl
matplotlib
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
dateparser